body {
    background-image: linear-gradient(100deg, #000000 0%, #0077ff 100%);
    /* background-color: #000000; */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #aa17ff;
    text-decoration: none;
    height: 100%;
    margin: 0;
}

.pfp {
    padding-bottom: 50px;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}


h2 {
    max-width: 100%;
    height: auto;
    color: #000000;
    font-size: 50px;
    text-align: center;

}

h3 {
    max-width: 100%;
    height: auto;
    color: rgb(187, 245, 255);
    font-size: 60px;
    text-align: center;
}

.main {
    max-width: 100%;
    height: auto;
    color: rgb(230, 195, 109);
    font-size: 25px;
    text-align: center;
}

.socials {
    padding-bottom: 10px;
    height: auto;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}
footer h5 {
    color: rgb(255, 0, 0);
    font: 18px/1.5 'Courier New', Courier, monospace;
    font-weight: 5000px;
    max-width: 100%;
    text-align: center;
}

footer p {
    color: rgb(255, 0, 0);
    font: 20px/1.5 'Courier New', Courier, monospace;
    max-width: 100%;
    text-align: center;
}

footer {
    background-image: linear-gradient(100deg, #4444447e 10%, #0000009d 90%);
}

